<div class="p-8">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
    <mat-card class="p-8 bg-green-200!">
      <h1 class="text-2xl mb-2">Total Salary for this month</h1>

      <h2 class="text-3xl text-green-500! mx-auto">{{ salaryForMonth }}</h2>
    </mat-card>

    <mat-card class="p-8 bg-purple-200!">
      <h1 class="text-2xl mb-2">Total Employee Count</h1>
      <h2 class="text-3xl text-green-500! mx-auto">{{ employeeCount }}</h2>
    </mat-card>

    <mat-card class="p-8 bg-red-200!">
      <h1 class="text-2xl mb-2">Total Department Count</h1>
      <h2 class="text-3xl text-green-500! mx-auto">{{ departmentCount }}</h2>
    </mat-card>
  </div>
  <div class="mt-8">
    
    <mat-card class="p-4">
      <h1 class="text-xl font-semibold">Employee On Leave Today</h1>
      @if(leaveData){
      <app-table
        [showPage]="false"
        [pagedData]="leaveData"
        [displayedColumns]="leaveCols"
      >
      </app-table>
      }
    </mat-card>
  </div>
  <div class="mt-8 w-8/12">
    
    <mat-card class="p-4">
      <h1 class="text-xl font-semibold">Department Wise Employee Data</h1>
      @if(departmentData){
      <canvas
        baseChart
        [data]="barChartData"
        [options]="barChartOptions"
        [plugins]="barChartPlugins"
        [legend]="barChartLegend"
        [type]="'bar'"
      >
      </canvas>
      }
    </mat-card>
  </div>
</div>
