/* You can add global styles to this file, and also import other style files */
// @import "tailwindcss";
@use "tailwindcss";

body {
  font-family: "Poppins", serif;
  font-style: normal;
  background-color: rgb(228, 228, 228);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
