<div class="p-8">
  @if(!isFormOpen){
  <div class="flex justify-between mb-2">
    <h1 class="text-xl font-semibold">Departments</h1>
    <button mat-flat-button class="bg-green-500!" (click)="isFormOpen = true;departmentName='';">
      Add
    </button>
  </div>
  <app-table
    [pagedData]="departments"
    [pageIndex]="filter.pageIndex"
    [pageSize]="filter.pageSize"
    [displayedColumns]="showCols"
    (onEdit)="editDepartment($event)"
    (onDelete)="delete($event)"
    (onPageChange)="pageChange($event)"
  ></app-table>
  } @else{
  <div class="flex">
    <form class="w-[360px] m-auto shadow-lg py-6 px-16">
      <h1 class="text-xl font-semibold mb-2">Add Deparment</h1>
      <mat-form-field class="w-full">
        <mat-label>Name</mat-label>
        <input matInput name="departmentName" [(ngModel)]="departmentName" />
      </mat-form-field>
      <div class="w-full flex justify-center">
        @if(editId){
        <button
          type="button"
          (click)="updateDepartment()"
          mat-flat-button
          class="bg-green-500!"
        >
          Update
        </button>
        } @else{
        <button
          type="button"
          (click)="addDepartment()"
          mat-flat-button
          class="bg-green-500!"
        >
          Add
        </button>
        }
      </div>
    </form>
  </div>
  }
</div>
